body 
{
    font-family: 'Arial Black', sans-serif;
    text-align: center;
    background-color: #e8cc98;
}

h1 
{
    font-size: 72px;
    color: #211f1f;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: 200px;
    letter-spacing: 4px;
}

p 
{
    font-size: 36px;
    color: #00d4ff;
    margin-top: 40px;
    text-transform: uppercase;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    letter-spacing: 4px;

}

.blue 
{
    color: #00d4ff;
}



